<ion-view title="Browse Jobs" class="view-dark">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Main Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search jobs or categories">

            </label>
        </form>
        <ion-list>
            <ion-item class="item-divider">Categories</ion-item>
            <ion-item ui-sref="searchResult">Item 1</ion-item>
            <ion-item ui-sref="searchResult">Item 2</ion-item>
        </ion-list>
        <ion-list></ion-list>
    </ion-content>
</ion-view>
