<ion-view title="Create Student Profile (1)" class="view-dark">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">University Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">University Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Degree</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Year</span>
                <select>
                    <option>Undergrad yr 1</option>
                    <option>Undergrad yr 2</option>
                    <option>Undergrad yr 3</option>
                    <option>Undergrad yr 4</option>
                    <option>Postgrad yr 1</option>
                    <option>Postgrad yr 2</option>
                </select>
            </label>
            <a ui-sref="createStudentProfile2" class="button  button-block ">Next</a>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>
