<ion-view title="Create Account" class="view-dark">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">I am</span>
                <select>
                    <option>Student</option>
                    <option>Business</option>
                </select>
            </label>
        </form>
        <a ui-sref="createStudentProfile1" class="button button-dark button-block">Next</a>
    </ion-content>
</ion-view>
