<ion-view view-title="Job Name" class="view-dark">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list card">

        <a class="item item-avatar">
          <img src="https://s.ytimg.com/yts/img/yt_1200-vfl4C3T0K.png">
          <h2>Company name</h2>
          <p>Budget for this project: 200 pounds</p>
        </a>
        <div class="item item-body">
          <p>
            In order to do this job you should have the following set of skills:
            <ol>
              <ul> - Creative Mind </ul>
              <ul> - Be smart </ul>
          </p>
        </div>
        <a class="item assertive view-blue" ui-sref="newProposal">
            <center>Submit Proposal</center>
        </a>
    </div>
</ion-view>
