<ion-view view-title="Job Name" class="view-dark">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list card">

        <a class="item item-avatar">
          <!-- <img src=""> -->
          <h2>Company name</h2>
          <p>Budget for this project: 200 pounds</p>
        </a>
        <div class="item item-body">
          <p>
            In order to do this job you should have the following set of skills:
            <ol>
              <ul> - Creative Mind </ul>
              <ul> - Be smart </ul>
          </p>
        </div>
        <!-- <div style="width:500px;height:100px;border:1px solid #000;color: green">This is a rectangle!</div> -->
        </a>
    </div>
</ion-view>
