<ion-view title="Login" class="view-dark" ng-controller="loginCtrl">
  <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
    <form class="list" ng-submit="newPost()">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Email" ng-model="postData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="postData.password">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Sign in as
          </div>
          <select id="selectedCategory">
            <option selected>Business</option>
            <option>Student</option>
          </select>
        </label>
      </ion-list>
      <button type="submit" class="button button-positive button-block" ng-click="newPost()">Sign in</button>
    </form>
    <a ui-sref="createAccount" class="button button-positive button-clear button-block ">Or create an account</a>
  </ion-content>
</ion-view>
