<html>
<style>
    .margin {
        margin-top: 10px;
    }

    .background {
        background-color: #efefef;
    }

</style>
<ion-view title="Profile">
    <body>
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="profileBusinessCtrl">
        <div class="list" ng-repeat="business in businessProfile" >
            <label class="item item-stacked-label">
                <h2>Business Name</h2>
                <p>{{business.name}}</p>
            </label>
            <label class="item item-stacked-label">
                <h2 class="input-label">Address</h2>
                <p>{{business.Address}}</p>
            </label>
            <label class="item item-stacked-label">
                <h2 class="input-label">Email</h2>
                <p>{{business.Email}}</p>
            </label>
            <label class="item item-stacked-label">
                <h2 class="input-label">Telephone</h2>
                <p>{{business.Telephone}}</p>
            </label>
            <label class="item item-stacked-label">
                <h2 class="input-label">Description </h2>
                <div class="item item-text-wrap background">{{business.Description}}</div>
            </label>
        </div>
        <div class="footer1">
            <div class="bar-footer">
                <a ui-sref="editProfileBusiness" class="button button-stable button-block ">Edit Profile</a>
            </div>
        </div>
    </ion-content>
    </body>
</ion-view>
</html>
