<ion-view title="Signup">
        <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
                <div class="list">
                        <label class="item item-input item-stacked-label">
                                <span class="input-label">Business Name</span>
                                <input type="text" placeholder="Enter Name">
                        </label>
                        <label class="item item-input item-stacked-label">
                                <span class="input-label">Description</span>
                                <input type="text" placeholder="Enter Description">
                        </label>
                        <label class="item item-input item-stacked-label">
                                <span class="input-label">Email</span>
                                <input type="text" placeholder="Enter email">
                        </label>
                        <label class="item item-input item-stacked-label">
                                <span class="input-label">Telephone</span>
                                <input type="number" placeholder="(+44)">
                        </label>
                </div>
                <div class="spacer" style="width: 300px; height: 12px;"></div>
                <a ui-sref="menuBusiness.home" class="button button-stable button-block ">Sign up</a>
        </ion-content>
</ion-view>
